@charset "utf-8";
/* CSS Document */


	body{
		background: #E7EDEE;
		width: 100%;
		margin: 0;
		padding: 0;
	}
	
	#preview {
		margin-top:10px;
	}
	#err{
		color: red;
	}
	#preview img{
		max-width: 100%;
		border: solid #cdcdcd 1px;
		padding:5px;
		border-radius: 3px;
		-webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, .2);
		box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, .2);
		overflow: hidden;
		width:200px;
		height:220px;
	}
	
	